<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Visit Our Other Site</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://samarthvanvi.in">Samarth Vanvi</a></li>
            <li><a target="_blank" href="https://www.maeksense.co.in">MaekSense</a></li>
            <li><a target="_blank" href="https://weredeho.maeksense.co.in">Weredeho</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
                <a href="https://www.weredeho.maeksense.co.in" target="_blank">
          <img src="https://divyanshp2013.github.io/blog2/assets/images/ads.jpg">
                </a>
                        </div>
            
</div>
